body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#game{
    margin-top: 60px;
    background-color: #f7f7f7;
    height: 400px;
    width:400px;
    
}

#t21,#t22,#t23{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}
#t12,#t22,#t32{
    border-left: 5px solid black;
    border-right: 5px solid black;
}

td{
    height:140px;
    width: 140px;
    text-align: center;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
}