body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}


#game{
    margin-top: 60px;
    background-color: #f7f7f7;
    height: 400px;
    width:400px;
    
}

td{
    
    height:140px;
    width: 140px;
    border: 5px solid black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10px;
}